.styledh2 {
  font-size: 20px;
  font-weight: 700;
  color: #171717;
  margin-top: 2em;
}

.StyledP {
  color: #171717;
  font-weight: 400;
}

.secondP,
.blog-date {
  color: #6f6f6f;
}

.nait-col {
  color: #1d8eeb;
}
.nait-col:hover {
  color: #222222;
}

@media screen and (min-width: 768px) {
  .styledh2 {
    font-size: 24px;
  }

  .StyledImage {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
}
